<footer>
  <div class="footer-container">
    <div class="footer-left">
      <span>Mobile app</span>
      <span>Contact</span>
      <span>About</span>
    </div>

    <div class="footer-right">
      <img src="https://images2.imgbox.com/f8/84/GVy4jXCR_o.png">
      <img src="https://images2.imgbox.com/ba/fd/Ng7MIBFF_o.png">
      <img src="https://images2.imgbox.com/1f/8e/vNMJBoez_o.png">
      <img src="https://images2.imgbox.com/67/fb/oNHKMxDs_o.png">
    </div>
  </div>
</footer>

