<header>
  <nav class="navbar">
    <div class="nav-left">
      <img src="https://placehold.co/120x32" alt="ShopLight Logo" width="120">
    </div>

    <div class="nav-right">
      <a class="nav-link" href="/search">Search</a>

        <a class="nav-link" href="/my-listings">My Listings</a>
        <a class="nav-link" href="/messages">Messages</a>

        logged in as: blah
        <form method="POST" action="/logout">
          <button type="submit">Log out</button>
        </form>

        <a class="nav-item" href ="/login">Login</a>
        <a class="nav-item" href ="/register">Register</a>

    </div>
  </nav>
</header>
