<header>
  <nav class="navbar">
    <div class="nav-left">
      <a href="/"><img src="https://placehold.co/120x32" alt="ShopLight Logo" width="120"></a>
    </div>

    <div class="nav-right">
      <a class="nav-link" href="/search">Search</a>

      <% if (!cookieStored) { %>    <!-- If user cookie isnt stored as a logged in account, display options -->

        <a class="nav-item" href ="/login">Login</a>
        <a class="nav-item">Register</a>

      <% } else { %>    <!-- If user is logged in with a cookie stored, display username and button for logout -->

        <a class="nav-link" href="/my-listings">My Listings</a>
        <a class="nav-link" href="/favourites">Favourites</a>
        <a class="nav-link" href="/messages">Messages</a>

        Logged in as: <%= displayName %>
        <form method="POST" action="/logout">
          <button type="submit">Log out</button>
        </form>

      <% } %>

    </div>
  </nav>
</header>
