@import 'variables';

.index-splash {
  width: calc(100vw - 10px);
  height: 100vh;
  padding: 220px 120px 120px 120px;
  // if image doesnt load, upload it to another filesharing website like imgbox or imgur and relink below
  background: url(https://images2.imgbox.com/44/97/y4KaEhFj_o.jpg);   /* full size */
  background: url(https://i.imgur.com/xdBZzyE.jpeg);   /* shorter version*/
  z-index: 100;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 100px);
  position: relative;
  // border: 3px dashed limegreen;
}

.index-splash-logo {
  position: absolute;
  // super janky solution, polish up later, similar solution to InDesign img frames
  // if image doesnt load, upload it to another filesharing website like imgbox or imgur and relink below
  background: url(https://images2.imgbox.com/e2/8d/ZTZqA3Yu_o.png);
  z-index: 102;
  right: 0;
  top: 130px;
  background-size: 500px;
  height: 140px;
  width: 500px;
  background-repeat: no-repeat;
  // border: 3px dashed rgb(105, 197, 105);
}

.index-splash-tagline {
  position: absolute;
  // super janky solution, polish up later, similar solution to InDesign img frames
  // if image doesnt load, upload it to another filesharing website like imgbox or imgur and relink below
  background: url(https://images2.imgbox.com/b8/37/zWJXhL32_o.png);
  z-index: 104;
  right: 0;
  top: 250px;
  height: 140px;
  width: 400px;
  background-size: 350px;
  background-repeat: no-repeat;
  // border: 3px dashed rgb(30, 105, 122);
}

.index-featured, .index-listings {
  width: calc(100vw - 10px);
  box-sizing: border-box;
  padding: 60px 120px;
}

.index-listings-top-filter {
  font: 700 0.85rem $primary-font;
  margin-bottom: 60px;
}

.index-listings-top-filter select {
  background-color: $primary-color;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 400;
}

/* Product container styling */

.product-listings-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 60px;
  justify-items: stretch;
}

.product-container {
  box-sizing: border-box;
  width: calc(33vw - 120px);
  background-color: $primary-color;
  border: 1px solid $border-color;
}

.product-image {
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 50%;
}

.product-box {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "name price"
    "description description"
    ". icons";
  justify-content: stretch;
  color: $text-color;
}

.product-name {
  grid-area: name;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
}

.product-price {
  grid-area: price;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
  justify-self: end;
}

.product-description {
  grid-area: description;
  font: 1rem/2rem $primary-font;
  padding: 20px 0px;
}

.product-icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 15px;
  font-size: 1.5rem;
  align-self: center;
}

/* In stock icon styling */
.in-stock {
  color: $green;
}

.in-stock:hover {
  cursor: pointer;
  text-shadow: 0 0 15px rgba(115, 184, 33, 0.5)
}

/* Message seller styling */
.message-seller button {
  color: $yellow;
  background: transparent;
  border: 0px solid transparent;
  padding: unset;
}

.message-seller button:hover {
  cursor: pointer;
}

.message-seller .fa-solid {
  display: none;
}

.message-seller button:hover .fa-solid {
  display: inline-block;
  color: $yellow;
  text-shadow: 0 0 15px rgba(229, 171, 14, 0.75)
}

.message-seller button:hover .fa-regular {
  display: none;
}

.message-seller button:focus {
  outline: none;
}

.form-popup {                                                    /* The popup form - hidden by default */
  display: none;
  position: absolute;
  z-index: 9;
}

.form-popup label {
  font: 700 1.35rem $primary-font;
}

.form-container {
  box-sizing: border-box;
  width: calc(40vw + 2px);
  max-width: 502px;
  background-color: $primary-color;
  border: 1px solid $border-color;
  padding: 30px;
}

.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid $border-color;
  font: 1rem/2rem $primary-font;
  border-radius: 5px;
}

/* Set a style for the submit/login button */
.form-container .button-flash {
  background-color: $yellow;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font: 1rem/2rem $primary-font;
}

.button-flash:hover {
  animation: buttonFlash 3s infinite;
}

@keyframes buttonFlash {
  0% { background-color: rgb(235, 184, 88); }
  20% { background-color: rgb(219, 190, 163); }
  34% { background-color: rgb(219, 178, 163); }
  59% { background-color: rgb(235, 178, 201); }
  74% { background-color: rgb(244, 211, 162); }
  100% { background-color: rgb(255, 194, 153); }
}


/* Add favorite styling */
.add-favorite button {
  all: unset;
  color: $red;
}

.add-favorite .fa-solid {
  display: none;
}

.add-favorite button:hover .fa-solid {
  display: inline-block;
  color: $red;
  text-shadow: 0 0 15px rgba(218, 27, 63, 0.5);
  cursor: pointer;
}

.add-favorite button:hover .fa-regular {
  display: none;
}

.featured-product-listings-container {
  width: calc(100vw - 240px);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 60px;
  padding-bottom: 60px;
}

.featured-product-listings-container > .product-container {
  box-sizing: border-box;
  width: calc(50vw - 150px);
  /* max-width: 600px; */
  background-color: $primary-color;
  border: 1px solid $border-color;
  scroll-snap-align: start;
  flex-shrink: 0;
}


//temporarily disables sideways scrolling on scrollbar as a presentation precaution
//NOTE - doesnt resolve the issue of listings not wrapping within the boundaries of screen width
html {
  overflow-x: hidden;
}


/* Responsive design for phone */
@media only screen and (max-width: 420px) {
  /* Write smartphone only styles here */
}

/* Responsive design for tablet */

@media only screen and (max-width: 1024px) {
  .index-featured, .index-listings {
    padding: 60px;
  }

  .product-listings-container {
    grid-template-columns: 1fr 1fr;
  }
}
