@import 'colors';

.index-splash {
  width: 100vw;
  height: 100vh;
  padding: 220px 120px 120px 120px;
}

.index-splash-title {
  font: 600 7rem "Syne", sans-serif;
}

.index-featured, .index-listings {
  width: 100vw;
  box-sizing: border-box;
  padding: 60px 120px;
}

/* Product container styling */

.product-listings-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 60px;
  justify-items: stretch;
}

.product-container {
  box-sizing: border-box;
  width: calc(40vw + 2px);
  max-width: 502px;
  background-color: $primary-color;
  border: 1px solid $border-color;
}

.product-image {
  box-sizing: border-box;
  width: 40vw;
  max-width: 500px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-box {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "name price"
    "description description"
    ". icons";
  justify-content: stretch;
  color: $text-color;
}

.product-name {
  grid-area: name;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
}

.product-price {
  grid-area: price;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
  justify-self: end;
}

.product-description {
  grid-area: description;
  font: 1rem/2rem $primary-font;
  padding: 20px 0px;
}

.product-icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 15px;
  font-size: 1.35rem;
  align-self: end;
}

.message-seller a {
  color: $text-color;
}

.message-seller .fa-solid {
  display: none;
}

.message-seller a:hover .fa-solid {
  display: inline-block;
  color: $text-color;
  text-shadow: 0 0 15px rgba(46, 44, 45, 0.5)
}

.message-seller a:hover .fa-regular {
  display: none;
}

.add-favorite button {
  all: unset
}

.add-favorite .fa-solid {
  display: none;
}

.add-favorite button:hover .fa-solid {
  display: inline-block;
  color: #C21372;
  text-shadow: 0 0 15px rgba(194, 19, 114, 0.5);
  cursor: pointer;
}

.add-favorite button:hover .fa-regular {
  display: none;
}

.featured-product-listings-container {
  width: calc(100vw - 240px);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 60px;
}

.featured-product-listings-container > .product-container {
  scroll-snap-align: start;
  flex-shrink: 0;
}


/* Responsive design for phone */
@media only screen and (max-width: 420px) {
  /* Write smartphone only styles here */
}

/* Responsive design for tablet */

@media only screen and (max-width: 1024px) {
  .index-featured, .index-listings {
    padding: 60px;
  }

  .product-listings-container {
    grid-template-columns: 1fr 1fr;
  }
}
