@import 'variables';

main {
  margin-top: -100px
}

#email, #password {
  background-color: rgba(0, 0, 0, 0);
  // border: none;     /* disables the default border style*/
  resize: none;        /* disables the little corner expansion option */
  outline: none;       /* disables the outline box when writing */
  border-radius: 7px;
  border: 2px solid black;
  color: inherit;
  font-weight: bold;
  font-size: 1.3em;
  width: 100%;
  padding: 0 30px;
  height: 50px;

  background-color: $primary-color;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 400;
}

.btn {
  background: $lilac;
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  font: 400 0.85rem $accent-font;
  margin-top: 30px;
  border: 0px solid transparent;
}

 .btn:hover {
  animation: buttonFlash 3s infinite;
}
