@import 'variables';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

  background-image: linear-gradient(
    227deg,
    rgb(235, 184, 88) 0%,
    rgb(219, 190, 163) 20%,
    rgb(219, 178, 163) 34%,
    rgb(235, 178, 201) 59%,
    rgb(244, 211, 162) 74%,
    rgb(255, 194, 153) 100%
  );
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: top;
}

a:hover {
  color: $accent-color;
}

h1 {
  font: 600 2.5rem/5rem $accent-font;
  color: $accent-color;
}

h2 {
  font: 400 1.5rem $accent-font;
  color: $accent-color;
  margin: 30px 0px;
}

h3 {
  font: 400 1.5rem $accent-font;
  color: $accent-color;
}

::-webkit-scrollbar {   /* extra playing around with pseudo selectors on the scroll bar*/
  height: 10px;
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $lilac;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffbdad;
}

