@import 'colors';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgb(235, 184, 88) 0%,
    rgb(219, 190, 163) 20%,
    rgb(219, 178, 163) 34%,
    rgb(235, 178, 201) 59%,
    rgb(244, 211, 162) 74%,
    rgb(255, 194, 153) 100%
  );
}

h1 {
  font: 600 3rem "Syne", sans-serif;
  color: $accent-color;
}
