@import 'variables';

main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-listing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-listing-form {
  width: 50vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

h1 {
  font: 600 3rem "Syne", sans-serif;
}

input, textarea {
  border-radius: 5px;
}

textarea {
  height: 150px;
}

// .listing-image{
//   height: 300px;
//   width: 300px;
// }

// .listing {
//   height: 500px;
//   width: 1000px;
//   display: flex;
// }

.product-listings-container {
  display: flex;
  flex-direction: row;
}

/* Product container styling */

.product-container {
  box-sizing: border-box;
  width: calc(40vw + 2px);
  max-width: 500px;
  background-color: $primary-color;
  border: 1px solid $border-color;
}

.product-image {
  box-sizing: border-box;
  width: 40vw;
  max-width: 500px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-box {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "name price"
    "description description"
    ". icons";
  justify-content: stretch;
  color: $text-color;
}

.product-name {
  grid-area: name;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
}

.product-price {
  grid-area: price;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
  justify-self: end;
}

.product-description {
  grid-area: description;
  font: 1rem/2rem $primary-font;
  padding: 20px 0px;
}

.product-icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 15px;
  font-size: 1.35rem;
}

.message-seller a {
  color: $text-color;
}

.message-seller .fa-solid {
  display: none;
}

.message-seller a:hover .fa-solid {
  display: inline-block;
  color: $text-color;
  text-shadow: 0 0 15px rgba(46, 44, 45, 0.5)
}

.message-seller a:hover .fa-regular {
  display: none;
}

.add-favorite button {
  all: unset
}

.add-favorite .fa-solid {
  display: none;
}

.add-favorite button:hover .fa-solid {
  display: inline-block;
  color: #C21372;
  text-shadow: 0 0 15px rgba(194, 19, 114, 0.5);
  cursor: pointer;
}

.add-favorite button:hover .fa-regular {
  display: none;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
