@import 'colors';

main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-listing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-listing-form {
  width: 50vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

h1 {
  font: 600 3rem "Syne", sans-serif;
}

input, textarea {
  border-radius: 5px;
}

textarea {
  height: 150px;
}

// .listing-image{
//   height: 300px;
//   width: 300px;
// }

// .listing {
//   height: 500px;
//   width: 1000px;
//   display: flex;
// }

.product-listings-container {
  display: flex;
  flex-direction: row;
}

/* Product container styling */

.product-container {
  box-sizing: border-box;
  width: calc(40vw + 2px);
  max-width: 500px;
  background-color: $primary-color;
  border: 1px solid $border-color;
}

.product-image {
  box-sizing: border-box;
  width: 40vw;
  max-width: 500px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-box {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "name price"
    "description description"
    ". icons";
  justify-content: stretch;
  color: $text-color;
}

.product-name {
  grid-area: name;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
}

.product-price {
  grid-area: price;
  font: 700 1.35rem $primary-font;
  text-transform: capitalize;
  justify-self: end;
}

.product-description {
  grid-area: description;
  font: 1rem/2rem $primary-font;
  padding: 20px 0px;
}

.product-icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 15px;
  font-size: 1.35rem;
}

.mark-as-sold {
  border: none;
  background: none;
}

.message-seller a {
  color: $text-color;
}

.message-seller .fa-solid {
  display: none;
}

.message-seller a:hover .fa-solid {
  display: inline-block;
  color: $text-color;
  text-shadow: 0 0 15px rgba(46, 44, 45, 0.5)
}

.message-seller a:hover .fa-regular {
  display: none;
}

.add-favorite button {
  all: unset
}

.add-favorite .fa-solid {
  display: none;
}

.add-favorite button:hover .fa-solid {
  display: inline-block;
  color: #C21372;
  text-shadow: 0 0 15px rgba(194, 19, 114, 0.5);
  cursor: pointer;
}

.add-favorite button:hover .fa-regular {
  display: none;
}

