@import 'colors';

.new-listing {
  width: 90vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}

h1 {
  font: 600 3rem "Syne", sans-serif;
}