.navbar {
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 60px;
}

.nav-left {
  display: inline-flex;
  align-items: center;
}

.nav-right {
  display: inline-flex;
  align-items: center;
}

.nav-link {
  display: inline;
}
