@import 'variables';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  margin-bottom: 60px;
}

.search-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.search-form label {
  font: 600 0.85rem $accent-font;
}

.search-prices {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
  padding-top: 30px;
}

.search-prices input {
  max-width: 150px;
}
