/* Colors */

$primary-color: #FFF4E7;
$secondary-color: #9B4304;
$accent-color: #390534;
$text-color: #2E2C2D;
$border-color: #8D7666;

$green: #73b821;
$yellow: #e5ab0e;
$red: #da1b4c;
$lilac: #d08fdb;


/* Fonts */
$primary-font: "Source Sans 3", sans-serif;
$accent-font: "Montserrat", sans-serif;
